.app {
  margin: 0 auto;
  width: 300px;
  .counter-displayer {
    display: flex;
    margin-top: 80px;
    width: 250px;
    border: solid 1px rgb(164, 197, 224);
    border-radius: 5px;
    .main-counter {
      
      .input {
        width: 60px;
        text-align: end;
        margin-left: 20px;
      }

      .counter {
        padding: 10px;
        .value{
          font-weight: 400;
        }
        .counter-controls,
        .title {
          display: inline-block;
          margin-left: 10px;
         

          button {
            margin-right: 4px;
          }
        }
      }
    }
    .counter-total {
      padding-left: 25px;
      padding-top: 80px;
      .title {
        font-weight: 300;
        font-size: 1.5rem;
        .button {
          margin-left: 4px;
        }
      }
    }
  }
}
